
JSON_WEB_TOKEN_VALID_TIME=3600
GEMINI_API_KEY=JSON_WEB_TOKEN_SECRET=dGhpc0lzQSB2ZXJ5TG9uZ0FuZFNlY3VyZVNlY3JldDEyMzQ1Njc4OQ==


# 데이터베이스 설정
DB_NAME=twofastdelivery
DB_USER=nbcamp_two
DB_PASSWORD=nbcamp_two_password_0224_0312
DB_DDL_AUTO=create
DB_URL=jdbc:postgresql://localhost:5432/twofastdelivery
DB_PORT=5432
GEMINI_API_KEY=dummy-key-for-local-test
JSON_WEB_TOKEN_SECRET=YWJjZGVmZ2hpamtsbW5vcHFyc3R1dnd6eXoxMjMxMjMxMjMxMjMxMjMxMzEyMzEyMzEzMTIzMTIzMTIzMTMxMjMxMzEzMTMxMjM
JSON_WEB_TOKEN_VALID_TIME=3600


# 데이터베이스 설정
DB_NAME=twofastdelivery
DB_USER=nbcamp_two
DB_PASSWORD=nbcamp_two_password_0224_0312